<div class="home-container">
    <h1>Veja o que estão compartilhando:</h1>
    <div class="search-container">
      <form>
        <i class='bx bx-search'></i>
        <input
          type="text"
          placeholder="Ou busque por um momento..."
          (input)="search($event)"
        />
      </form>
    </div>
    <div *ngIf="moments.length > 0; else noMoments">
      <div class="moments-container">
        <div class="moment" *ngFor="let moment of moments">
          <h3>{{ moment.title }}</h3>
          <img [src]="moment.image" alt="">
          <p class="date">Em: {{ moment.created_at }}</p>
          <p *ngIf="moment.comments != null; else noComments" >Comentários: {{ moment.comments}}</p>
          <ng-template #noComments>
            <p>Sem comentários</p>
          </ng-template>
          <p><a routerLink="moments/{{ moment.id }}">Detalhes</a></p>
        </div>
      </div>
    </div>
    <ng-template #noMoments>
      <h1>Carregando :)</h1>
      <p class="obs">Caso não aparecer os momentos, verifique a API...</p>
    </ng-template>
  </div>