.moment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

h1 {
margin-bottom: 1em;
}

img {
max-width: 500px;
margin: 0 auto 1em;
}

.about-moment, .actions {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
  font-size: 16px;
}

.actions .remove-btn{
    border: none;
    background: none;
    font-size: 16px;
    transition: 0.4s;
}
.actions a{
    transition: 0.4s;
}
.actions .remove-btn:hover{
    color: #ccc;
}

.actions a:hover{
    color: #ccc;
}
.about-moment .dates{
    color:#ccc;
}

.moment i{
    font-size: 15px;
}

.comments {
    margin-bottom: 1em;
    padding: 1.5em 0;
  }